@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
  .btn {
    @apply text-gray-100 font-serif text-lg uppercase px-4 py-2 border-2 hover:bg-gray-200/50 duration-100;
  }
  .section {
    @apply container mx-auto my-24 px-8 grid gap-y-4;
  }
  .section-title {
    @apply text-3xl font-semibold font-serif uppercase;
  }
  .tag {
    @apply text-gray-700 text-base py-1 px-1.5 font-serif uppercase border rounded;
  }
  .number-input::-webkit-outer-spin-button,
  .number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .number-input {
    -moz-appearance: textfield;
  }
  .form-error-message {
    @apply absolute mt-1 top-full text-sm uppercase font-semibold text-red-400 select-none;
  }
  .form-input-field {
    @apply focus:ring-blue-300 border-2 text-gray-700 rounded px-2 py-1 bg-inherit;
  }
  .form-text-input {
    @apply placeholder:font-serif placeholder:font-normal font-semibold py-1.5;
  }
  .scroll-wheel::-webkit-scrollbar {
    @apply w-2 mr-2;
  }
  .scroll-wheel::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded;
  }
  .scroll-wheel::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded;
  }
}
