@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply text-gray-100 font-serif text-lg uppercase px-4 py-2 border-2 hover:bg-gray-200/50 duration-200;
  }
  .section {
    @apply container mx-auto my-24 px-8;
  }
  .section-title {
    @apply text-4xl font-serif uppercase mb-8;
  }
  .tag {
    @apply text-gray-700 text-base py-1 px-1.5 font-serif uppercase border rounded;
  }
  .number-input::-webkit-outer-spin-button,
  .number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .number-input {
    -moz-appearance: textfield;
  }
}
